<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAEKWONDO GOAT</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/course">Khóa Học</a>
        <a href="/training">Lộ Trình Đào Tạo</a>
        <a href="/coach">Huấn Luyện Viên</a>
    </div>
    <div class="table-container">
        <div class="title">Danh Sach Hoc Vien</div>
        <button><a href="/home/create">Them Hoc Vien</a></button>

        <fieldset>
            <legend>Lọc Giá Trị</legend>
            <form action=/home method="GET">
                <label>Cơ sở: </label>
                <select name="filter_cs">
                    <% filterUsers.unq_cs.forEach(function(fil) { %>
                        <option>
                            <%=fil %>
                        </option>
                        <% }) %>
                </select>
                <label>Cấp Đai: </label>
                <select name="filter_capdai">
                    <% filterUsers.unq_capdai.forEach(function(fil) { %>
                        <option>
                            <%=fil %>
                        </option>
                        <% }) %>
                </select>
                <label>Chức Vụ: </label>
                <select name="filter_chucvu">
                    <% filterUsers.unq_chucvu.forEach(function(fil) { %>
                        <option>
                            <%=fil %>
                        </option>
                        <% }) %>
                </select>
                <button>Xem</button>
            </form>
        </fieldset>

        <table id="studentTable">
            <tr>
                <th>ID</th>
                <th>Họ Tên </th>
                <th>Cơ Sở </th>
                <th>Cấp Đai </th>
                <th>Chức Vụ</th>
                <th>Số Điện Thoại </th>
            </tr>
            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.cs %>
                    </td>
                    <td>
                        <%= user.capdai %>
                    </td>
                    <td>
                        <%= user.chucvu %>
                    </td>
                    <td>
                        <%= user.phone %>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
</body>

</html>